/* HEADER UI */

*{
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS
}



:root{
    --btn-color-primary: #ef5350;
    --btn-color-secundary: #c62828;
    --color-primary: rgba(38, 129, 247, 0.878);
    --color-secundary: rgba(34, 112, 214, 0.938);
    --border-radio: 25px;
    --size-text: 24px;
    --color-letter-default: whitesmoke;
    --color-bckgrnd-default: whitesmoke;
    --btn-color-tertiary: rgba(238, 234, 109, 0.878);
}

#container-header{
    background-color: var(--btn-color-primary);
    display: flex;
    height: 5rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#nav-header{
    height: 100%;
    display: flex;
    padding: 0 1em;
}

#img-logo{
    height: 100%;
}

.a-nav{
    color: white;
    text-decoration: none;
    height: 100%;
    font-size: var(--size-text);
    padding: 0 16px;
}

.a-nav:hover{
    background-color: var(--btn-color-secundary);
    text-decoration: underline;
}

/* POKEMONS UI */

#container-pokemons{
    display: flex;
    flex-direction: column;
    background-color: var(--background-section);
    align-items: center;

}

#pokemons{
    padding: 30px;
    border-radius: var(--border-radio);
    box-shadow: inset 0 0 15px 15px var(--color-primary);
}

.pokemon{
    list-style:none;
}

/* esto deberia de hacerlo en el pikero ui para coger el id de cada pokemon? */
.pokemon p{
    font-size: var(--size-text);
    text-decoration: none;
    color: black
}


/********* POKEMON COMPONENT ***********/

#container-profile-all-pokemons{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-section{
    padding: 30px;
    margin: 30px 30px;
    border-radius: var(--border-radio);
    box-shadow: inset 0 0 15px 15px var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

/* SEARCH */

#label-pokemon{
    font-size: var(--size-text);
}

#name-pokemon{
    border-radius: var(--border-radio);
    padding: 10px;
}

#searchPokemons{
    padding: 10px;
    font-size: var(--size-text);
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-letter-default);
    border-radius: var(--border-radio);
}

#searchPokemons:hover{
    background-color: var(--color-secundary);
}


/* SORT */
#sortPokemons{
    padding: 10px;
    font-size: var(--size-text);
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-letter-default);
    border-radius: var(--border-radio);
}

#sortPokemons:hover{
    background-color: var(--color-secundary);
}


#nav-secondary{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(231, 226, 226, 0.952);
}



#addPokemon{
    padding: 10px;
    font-size: var(--size-text);
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-letter-default);
    border-radius: var(--border-radio);
}

#addPokemon:hover{
    background-color: var(--color-secundary);
}



/* POKEDEX PAGE */
.title{
    display: flex;
    justify-content: center;
    font-size: var(--size-text);
}

.container-section-pokedex-empty{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#sad-pikachu{
    height: 20rem;
    border-radius: var(--border-radio);
    -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)))
}


#removePokemon{
    padding: 10px;
    font-size: var(--size-text);
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-letter-default);
    border-radius: var(--border-radio);
}

#removePokemon:hover{
    background-color: var(--color-secundary);
}


/* PROFILE POKEMON COMPONENT */


.container-profile-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#img-pokemon-frontal{
    height: 20rem;
}

.atr-pokemon{
    font-size: var(--size-text);
}

.pokemon-type{
    display: flex;
    align-items: center;
}

.type{
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radio);
    background-color: var(--btn-color-tertiary);
}

.container-figure{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}